@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

:host ::ng-deep {
  .p-inputtext, .p-inputgroup-addon {
    @apply border-gray-300 rounded-sm px-3 py-2 text-sm;
    &:enabled:focus, &:enabled:hover {
      @apply border-user-primary;
    }
  }

  /* Make sure the p-inputgroup looks seamless */
  .p-inputgroup {
    @apply flex overflow-hidden rounded-sm;
    .p-inputtext {
      @apply rounded-none rounded-r-sm border-l-0;
    }
    .p-inputgroup-addon {
      @apply rounded-none rounded-l-sm border-r-0 border-gray-300 font-medium text-gray-500 bg-gray-50;
    }
  }

  .p-radiobutton .p-radiobutton-box {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}
