@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

:host ::ng-deep {
  .p-inputtext, .p-inputgroup-addon {
    @apply border-gray-300 rounded-lg p-3;
    &:enabled:focus, &:enabled:hover {
      @apply border-user-primary;
    }
  }

  /* Make sure the p-inputgroup looks seamless */
  .p-inputgroup {
    @apply flex overflow-hidden rounded-lg;
    .p-inputtext {
      @apply rounded-none rounded-r-lg border-l-0;
    }
    .p-inputgroup-addon {
      @apply rounded-none rounded-l-lg border-r-0 border-gray-300 font-medium text-gray-500;
    }
  }
}
